[submodule "main-service"]
	path = main-service
	url = https://github.com/OnlineShoppen-dk/main-service
[submodule "catalog-service"]
	path = catalog-service
	url = https://github.com/OnlineShoppen-dk/catalog-service
[submodule "auth-service"]
	path = auth-service
	url = https://github.com/OnlineShoppen-dk/auth-service.git
[submodule "email-service"]
	path = email-service
	url = https://github.com/OnlineShoppen-dk/email-service.git
[submodule "onlineshoppen-frontend"]
	path = onlineshoppen-frontend
	url = https://github.com/OnlineShoppen-dk/onlineshoppen-frontend.git
[submodule "Indexer"]
	path = Indexer
	url = https://github.com/OnlineShoppen-dk/Indexer.git
[submodule "dummy-index"]
	path = dummy-index
	url = https://github.com/OnlineShoppen-dk/dummy-index
[submodule "catalog-service-v2"]
	path = catalog-service-v2
	url = https://github.com/OnlineShoppen-dk/catalog-service-v2
